---
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

const allPosts = await getCollection("blog");

const posts = allPosts
	.filter(({ data }) => !data.tags.includes("not-for-you"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);

const notForYouPosts = allPosts
	.filter(({ data }) => data.tags.includes("not-for-you"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 2);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navbar />
		<main class="container space-y-8">
			<section class="">
				<p>
					Hi! This is my <del>blog</del> dump yard where I'll dump my thoughts, my
					views, my worries, my opinions, my achievements. Sometimes I'll yap, sometimes
					I'll be concise. Pardon any tpyos, if you do decide to read.
					<br />
					<br />
					Thank you!
					<br />
					<br />
					<br />
					Dated: 18 Feb, 2025
				</p>
			</section>

			{
				posts.length != 0 && (
					<section>
						<h2 class="">For you</h2>
						<ul class="">
							{posts.map((post) => (
								<li>
									<a href={`/blog/${post.id}/`} class="">
										{post.data.title} -
										<FormattedDate date={post.data.pubDate} />
									</a>
								</li>
							))}
						</ul>
					</section>
				)
			}

			{
				notForYouPosts.length != 0 && (
					<section>
						<h2 class="">Not for you</h2>
						<ul class="">
							{notForYouPosts.map((post) => (
								<li>
									<a href={`/blog/${post.id}/`} class="">
										{post.data.title} -
										<FormattedDate date={post.data.pubDate} />
									</a>
								</li>
							))}
						</ul>
					</section>
				)
			}
		</main>
		<!-- <Footer /> -->
	</body>
</html>
